*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
    background-color: rgb(86, 86, 86);
}
.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.todo{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin: 3rem;
    padding: 2rem;
    width: 40vw;
}
.addToDo{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: inherit;
    width: 30vw;
    position: fixed;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: #007bff 0px 0px 30px 10px;
}
form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: inherit;
    padding: 1rem;
    margin: 1rem;
}
input{
    padding: .5em;
    margin: .5rem;
}
.card{
    margin: 1rem;
    width: 15vw;
}